<?xml version="1.0" encoding="UTF-8"?>  

<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "com.phonegap.app9"
version = "1.0.0">

<name> App9 Reproductor </name>

<description> Utiliza plugins de audio para reproducir archivo mp3 </description>

<author href="https://build.phonegap.com" email="zurielkyriat@gmail.com">
Zuriel Kyriat-yael Larios Vaquero
</author>

<preference name="orientation" value="portrait"/>
<preference name="target-device" value="universal"/>
<preference name="fullscreen" value="true"/>
<preference name="android-installLocation" value="auto"/>
<preference name="permissions" value="INTERNET"/>

<plugin name="cordova-plugin-media" spec="https://github.com/apache/cordova-plugin-media.git"/>

<icon src="res/android/mdpi.png"/>

</widget>